{% extends 'base.html.twig' %}

{% block title %}{{ title(news.titolo) }}{% endblock %}

{% block body %}
    <div class="container pt-10">
        {% include 'components/breadcrumbs.html.twig' %}
        <h1 class="{{ h1 }} text-center">{{ news.titolo }}</h1>
    </div>

    <div class="container py-10 max-w-4xl">
        <p class="{{ p }} mb-4 font-bold">{{ news.sintesi|nl2br }}</p>
        <p class="{{ p }} text-right">{{ 'app.news_page.published_at'|trans({'date': news.systemProperties.createdAt|date('d/m/Y')}) }}</p>

        <div class="my-10">
            <img class="responsive" src="{{ contentful_image_render(news.immagine.file.url) }}" loading="lazy" alt />
        </div>

        <div class="{{ p }} mb-10">
            {{ rich_text_render(news.corpo)|raw|nl2br }}
        </div>
    </div>

{% endblock %}


