{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-10">
        {% include 'components/breadcrumbs.html.twig' %}
        <h1 class="{{ h1 }} text-center">Notizie</h1>
    </div>

    <div class="container py-10">
        <div class="xt-list xt-list-y-8">
            {% for information in news %}

                <div class="bg-color-1 rounded-3xl text-white">
                    <a href="{{ path('news_index', {slug: information.slug}) }}" class="xt-row items-center {{ (loop.index%2 == 0 ? 'md:flex-row' : 'md:flex-row-reverse') }}">
                        <div class="w-full md:w-4/12">
                            <div class="xt-media-container xt-ratio-50 md:xt-ratio-75">
                                <div class="xt-media-inner">
                                    <img class="xt-media object-cover object-center rounded-t-3xl md:rounded-3xl" src="{{ contentful_image_render(information.immagine.file.url) }}" loading="lazy" alt/>
                                </div>
                            </div>
                        </div>
                        <div class="w-full md:w-8/12 p-4">
                            <h2 class="{{ h2 }}">{{ information.titolo }}</h2>
                            <p class="{{ p }}">{{ information.sintesi }}</p>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}