{% extends 'base.html.twig' %}

{% block title %}{{ title('app.news_listing.title'|trans) }}{% endblock %}

{% block body %}
    <div class="container pt-10">
        {% include 'components/breadcrumbs.html.twig' %}
        <h1 class="{{ h1 }} text-center">{{ 'app.news_listing.title'|trans }}</h1>
    </div>

    <div id="infinitescroll" class="container py-10">

        <button type="button" data-xt-infinitescroll-up="-1"></button>

        <div class="xt-list xt-list-y-8" data-page-count="{{ pageCount }}">
            {% for information in news %}

                <div class="bg-color-1 rounded-3xl text-white w-full">
                    <a href="{{ path('news_index', {slug: information.slug}) }}" class="xt-row items-center {{ (loop.index%2 == 0 ? 'md:flex-row' : 'md:flex-row-reverse') }}">
                        <div class="w-full md:w-4/12">
                            <div class="xt-media-container xt-ratio-50 md:xt-ratio-75">
                                <div class="xt-media-inner">
                                    <img class="xt-media object-cover object-center rounded-t-3xl md:rounded-3xl" src="{{ contentful_image_render(information.immagine.file.url) }}" loading="lazy" alt/>
                                </div>
                            </div>
                        </div>
                        <div class="w-full md:w-8/12 p-4">
                            <h2 class="{{ h2 }}">{{ information.titolo }}</h2>
                            <p class="{{ p }}">{{ information.sintesi }}</p>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>

        <div class="mt-4">
            <div class="xt-list xt-list-2 flex-col items-center">
                <button type="button" class="{{ button }}" data-xt-infinitescroll-down="+1">
                    <span class="content">{{ 'app.news_listing.show_more'|trans }}</span>

                    <span class="xt-loader absolute z-above inset-0 rounded-inherit overflow-hidden infinitescroll-spinner">
                    <span class="xt-spinner absolute inset-0 m-auto w-6 h-6 text-white">
                      <svg viewBox="0 0 240 240" class="absolute" preserveAspectRatio="xMinYMin meet"><circle class="stroke-current origin-center opacity-25" fill="none" stroke-width="30" cx="120" cy="120" r="100" stroke-dasharray="628" stroke-dashoffset="0" pathLength="628"></circle></svg><svg viewBox="0 0 240 240"><circle class="stroke-current origin-center relative animate-xt-spinner" fill="none" stroke-width="30" cx="120" cy="120" r="100" stroke-dasharray="628" stroke-dashoffset="628" pathLength="628"></circle></svg>
                    </span>
                  </span>
                </button>

                <div class="h6 uppercase" data-xt-infinitescroll-pagination>{{ 'app.news_listing.page_numer'|trans }}</div>
            </div>
        </div>

    </div>
{% endblock %}