<h1>{{ 'app.email.subject'|trans }}</h1>
<p>{{ 'app.email.paragraph'|trans }}</p>
<p>
    {{ 'app.email.name_label'|trans~data.name }}<br>
    {{ 'app.email.mail_label'|trans~data.mail }}<br>
    {{ 'app.email.message_label'|trans~data.message }}
</p>
