<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ title() }}{% endblock %}</title>
        <meta name="description" content="{{ 'app.homepage.description'|trans }}"/>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/assets/icons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/assets/icons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/assets/icons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('build/web-manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('build/assets/images/logo.svg') }}" color="#ffffff">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#165185">

        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="xt-body">
        <div class="overflow-hidden">
            {{ render(path('header')) }}
            <main>
                {% include 'components/session-banner.html.twig' %}
                {% include 'components/cookie-banner.html.twig' %}
                {% block body %}{% endblock %}
            </main>
            {{ render(path('footer')) }}
        </div>
    </body>
</html>
