<header data-xt-toggle="{ targets: '#desktop-dropdown-menu', on: false, off: 'mouseleave', groupElements: true }">
    <div class="border-b-4 border-color-1-dark">
        <div class="container py-6">
            <nav class="flex flex-wrap justify-between items-center text-color-1-dark text-lg md:text-xl">

                <div class="flex w-full lg:w-auto justify-between">
                    <a href="{{ path('homepage') }}" title="home" class="mb-6 lg:mb-0 xt-list xt-list-y-0.5 items-center" data-xt-toggle="{ targets: '#desktop-dropdown-menu', on: false, off: 'mouseenter', groupElements: true }">
                        <img src="{{ asset('build/assets/images/logo.svg') }}" loading="eager" alt="upreginadellafamiglia logo" class="h-16 md:h-20 lg:h-24"/>
                        <div class="leading-none">
                            <span class="uppercase">unità pastorale</span><br/>
                            <span class="uppercase font-bold">maria</span><br/>
                            <span class="uppercase font-bold">regina <span class="lowercase font-normal">della</span> famiglia</span>
                        </div>
                    </a>

                    <button type="button" class="xt-button py-2 px-3.5 rounded-md text-black font-semibold leading-snug tracking-wider uppercase hover:text-opacity-60 active:text-opacity-100 transition lg:hidden items-baseline" data-xt-overlay="{ targets: '#mobile-overlay-menu'}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 6h18M3 12h18M3 18h18"/></svg>
                    </button>
                </div>

                <div class="flex uppercase justify-around w-full lg:w-auto">
                    <button type="button" class="uppercase hover:text-color-1 xt-list xt-list-x-1 items-center md:mr-4 hidden lg:flex" data-xt-toggle="{ targets: '#desktop-dropdown-menu', groupElements: true }">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="xt-icon xt-icon-xl"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                        <span>Pastorale</span>
                    </button>
                    <a href="{{ path('news_listing') }}" class="no-underline hover:text-color-1 xt-list xt-list-x-1 items-center md:mr-4" data-xt-toggle="{ targets: '#desktop-dropdown-menu', on: false, off: 'mouseenter', groupElements: true }">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="xt-icon xt-icon-xl hidden xs:block"><path d="M12 19l7-7 3 3-7 7-3-3z"></path><path d="M18 13l-1.5-7.5L2 2l3.5 14.5L13 18l5-5z"></path><path d="M2 2l7.586 7.586"></path><circle cx="11" cy="11" r="2"></circle></svg>
                        <span>Notizie</span>
                    </a>
                    <a href="{{ path('forms_listing') }}" class="no-underline hover:text-color-1 xt-list xt-list-x-1 items-center md:mr-4" data-xt-toggle="{ targets: '#desktop-dropdown-menu', on: false, off: 'mouseenter', groupElements: true }">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="xt-icon xt-icon-xl hidden xs:block"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                        <span>Modulistica</span>
                    </a>
                    <a href="{{ path('contact_page') }}" class="no-underline hover:text-color-1 xt-list xt-list-x-1 items-center" data-xt-toggle="{ targets: '#desktop-dropdown-menu', on: false, off: 'mouseenter', groupElements: true }">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="xt-icon xt-icon-xl hidden xs:block"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        <span>Contatti</span>
                    </a>
                </div>

            </nav>
        </div>
    </div>

    <div class="absolute xt-card xt-toggle xt-links-default bg-white z-10 transform transition ease-out duration-500 opacity-0 -translate-y-4 active:opacity-100 active:translate-y-0" data-xt-duration="500" id="desktop-dropdown-menu">
        <div class="container py-10">
            <div class="xt-list flex-col" style="max-height: 60vh;">
                {% for section in header.menu %}
                    <div class="pb-8 xt-list xt-list-y-2 flex-col text-xl">
                        <div class="font-bold text-2xl capitalize">{{ section.name }}</div>
                        {% for link in section.subMenu %}
                            <a class="hover:text-color-1 capitalize" href="{{ path('cms_page', {'slug': link|lower|slug}) }}">{{ link }}</a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="mobile-overlay-menu" class="xt-overlay">

        <div class="xt-backdrop pointer-events-none bg-color-1-dark"></div>

        <div class="xt-overlay-container">

            <button type="button" class="xt-button xt-dismiss absolute z-last top-0 right-0 p-8 text-2xl text-white transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="xt-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="Cross"><path d="M20 20L4 4m16 0L4 20"/></svg>
            </button>

            <div class="xt-overlay-inner absolute top-24">
                <div class="xt-card text-3xl xt-links-default text-white text-center" data-xt-toggle>
                    {% for section in header.menu %}
                        <button type="button" class="xt-button text-4xl font-semibold leading-snug tracking-wider justify-center capitalize">
                            {{ section.name }}
                        </button>

                        <div class="xt-toggle transform transition ease-out duration-300 opacity-0 -translate-y-4 active:opacity-100 active:translate-y-0">
                            {% for link in section.subMenu %}
                                <a class="xt-card justify-center capitalize" href="{{ path('cms_page', {'slug': link|lower|slug}) }}">{{ link }}</a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</header>