{% extends 'base.html.twig' %}

{% block title %}{{ title(page.titolo) }}{% endblock %}

{% block body %}
    <div class="container pt-10">
        {% include 'components/breadcrumbs.html.twig' %}
        <h1 class="{{ h1 }} text-center">{{ page.titolo }}</h1>
    </div>

    <div class="container py-10 max-w-4xl">
        <div class="xt-media-container mb-10 xt-ratio-75">
            <img class="xt-media object-cover object-center" src="{{ contentful_image_render(page.immagine.file.url) }}" loading="lazy" alt />
        </div>

        <div class="{{ p }}">
            {{ rich_text_render(page.descrizione)|raw }}
        </div>
    </div>

    <div class="container pb-10 max-w-4xl">
        <h2 class="{{ h2 }} mb-5 text-center">{{ 'app.cms_page.contact_title'|trans }}</h2>
        <div class="flex justify-center">
            <a href="{{ path('contact_page', {'page': page.slug}) }}" class="{{ button }}">{{ 'app.cms_page.contact_button'|trans }}</a>
        </div>
    </div>
{% endblock %}